body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #000;
}

.container {
    width: auto;
    height: 100px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .loader {

    }

    .loader1 {
        width: 50px;
        height: 50px;
        border: 8px solid #fff;
        border-radius: 50%;
        border-top: 8px solid cyan;
        animation: rotate 1s infinite linear;
    }
    .loader2 {
        width: 40px;
        display: flex;
        justify-content: space-around; 
    }
    .loader2::before, .loader2::after, .loader2 div {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: cyan; 
        animation: bounce 0.6s infinite ease 0s;
    }
    .loader2::after{
        animation-delay: 0.24s;
    }
    .loader2 div{
        animation-delay: 0.12s;
    }
    .loader3{
        width: 35px;
        display: flex;
        justify-content: space-around;
    }
    .loader3::before, .loader3::after, .loader3 div{
        content: "";
        width: 7px;
        height: 50px;
        background-color: cyan;
        animation: stretch 1.2s infinite ease-in-out;
    }
    .loader3::after{
        animation-delay: 0.5s;
    }
    .loader3 div{
        animation-delay: 0.12s;
    }
    .loader4{
        width: 50px;
        height: 50px;
        background: cyan;
        border-radius: 50%;
        animation: pulse 1.5s infinite ease-in-out;
    }
    .loader5{
        width: 50px;
        height: 50px;
        border: 8px solid cyan;
        border-radius: 50%;
        border-top: 8px solid #fff;
        animation: rotate 1s infinite linear;
    }
    .loader6{
        width: 50px;
        height: 50px;
        background: cyan;
        animation: pulse 1s infinite linear;
    }
    .loader7{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: blink 1s infinite linear;
    }
    .loader8{
        width: 40px;
        height: 40px;
        border: 8px solid #000;
        border-radius: 50%;
        border-bottom: 8px solid cyan;
        border-top: 8px solid cyan;
        animation: blink2 1s infinite linear;
    }
    .loader9{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: blink3 1s infinite linear;
    }
    .loader10{
        width: 50px;
        display: flex;
        justify-content: space-around;
    }
    .loader10::before, .loader10::after, .loader10 div{
        content: "";
        width: 10px;
        height: 10px;
        background: cyan;
        border-radius: 50%;
        animation: roller 1s infinite ease-in-out;
    }
    .loader10::after{
        animation-delay: 0.24s;
    }
    .loader10 div{
        animation-delay: 0.12s;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes stretch {
    0%{
        transform: scaleY(0.3);
    }
    50%{
        transform: scaleY(0.6);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes pulse {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes blink {
    0%{
        border-top: 8px solid cyan;
    }
    100%{
        border-bottom: 8px solid cyan;
    }
}
@keyframes blink2 {
    0%, 100%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
}
@keyframes blink3 {
    0%{
        border-left: 8px solid cyan;
    }
    100%{
        border-right: 8px solid cyan;
    }
}
@keyframes roller {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
